.site-header {
    top: 0;
    width: 100%;
    background: #fff;
    border: 1px solid pink;
    .nav {
        position: relative;
        z-index: 1000;
        a {
            color: #1e3e59;
        }
    }
}

// Ipad Pro

.is--device {
    .menu-buttons {
        @include media($desktop) {
            display: block;
        }
    }
}

/*-------------- Logo Area -------------*/

.header-top {
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media($desktop) {
        padding-left: 40px;
        padding-right: 40px;
    }
    @include media($desktop) {
    }
    @include media($full) {
        // max-width: $ogFull;
    }
    h1.site-logo {
        margin: 0 !important;
        padding: 0;
    }
    img,
    svg {
        width: 100%;
        max-width: 382px;
        padding-left: 30px;
        padding-right: 30px;
        @include media($tablet) {
            padding: 0;
            max-width: none;
            // min-width: 300px;
        }
        @include media($desktop) {
        }
    }
}

/* HEADER LOCATIONS INFO */

/* Duplicate Nav Items*/

/*--------------  Header Banner  -------------*/

.int-header {
    // margin-top: 250px;
    // border: 1px solid pink;
}

.internal-header-images {
    position: relative;
    top: -25px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 205px;
    display: flex;
    align-items: flex-end;
    @include media($tablet) {
        top: -35px;

        background-position: center center;
        min-height: 482px;
    }
}

.from-blog .internal-header-images {
    // background: url("images/header-blog.jpg") center center !important;
    background-size: cover !important;
    min-height: 0;
    height: 300px;
    h1 {
        margin-top: 120px;
    }
    .page-title h1,
    .page-title .headline {
        margin-bottom: 0px !important;
    }
}
